main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    box-sizing: border-box;
}