<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parqueadero</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/index/header.css">
    <link rel="stylesheet" href="/static/css/index/main.css">
    <link rel="stylesheet" href="/static/css/index/aside.css">
    <link rel="stylesheet" href="/static/css/index/footer.css">
</head>

<body>
    <div class="layout">
        <header>
            <h3>header</h3>
        </header>
        <aside>
            <h3>aside</h3>
        </aside>
        <main>
            <h3>main</h3>
        </main>
        <footer>
            <h3>footer</h3>
        </footer>
    </div>
</body>

</html>